body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}







h1 {
    background-color: royalblue;
    margin-bottom: 50px;
    padding: 10px;
}

div {
    background-color: cornflowerblue;
    border: 1px round;
    box-shadow: 1px 1px 1px 1px rgb(1, 0, 0, 0.2);
    margin-bottom: 50px;
    padding: 10px;
}
.goat {
    background-color: red;
    border: 1px round;
    box-shadow: 1px 1px 1px 1px rgb(1, 0, 0, 0.2);
    margin-bottom: 50px;
    padding: 10px;
}



.solution {
    background-color: pink;
    border: 1px round;
    box-shadow: 1px 1px 1px 1px rgb(1, 0, 0, 0.2);
    margin-bottom: 50px;
    padding: 10px;
}